MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/?retryWrites=true&w=majority&appName=Cluster0
LLM_MODEL=ft:gpt-4o-mini-2024-07-18:dog4you::<your-fine-tuned-model-id>

NODE_ENV=development
APP_VERSION=dev
PORT=5000
FRONTEND_URL=http://localhost:3000

DEBUG_MODE=true
ENABLE_MULTI_DAMPEN=true
MULTI_SELECT_DAMPEN=0.25

OPENAI_API_KEY=sk-...
